$base-font-size: 16;
$base-line-height: 24;
$base-font-family: "Montserrat", sans-serif;


$dark-red: #cc000e;
$dark-red-1: #883528;
$red-2: #e8505b;
$red: #eb4835;
$red-1: #ff2e1f;
$red-transparent: rgba(255, 46, 31, 0.5);
$rose: #ffb8b2;
$red-transparent-1: rgba(255, 46, 31, 0.2);
$primary-color-2: #282828;
$dark-grey: #535353;
$grey: #7a7a7a;
$light-grey-3: #f0f3f6;
$light-Grey-2: #a9a9a9;
$light-grey: #c8c8c8;
$capacity: linear-gradient(
                180deg,
                rgba(15, 14, 14, 0) 0%,
                rgba(0, 0, 0, 0.6) 100%
);
$gradient: linear-gradient(
                180deg,
                rgba(40, 40, 40, 0) 0%,
                rgba(40, 40, 40, 0.4) 100%
);
$primary-color-3: #ebebeb;
$bg: #f0f3f6;
$primary-color-4: #fff;
$white-capacity-2: rgba(255, 255, 255, 0.6);
$gradient-1: rgba(40, 40, 40, 0.11);
$black-transparent: rgba(40, 40, 40, 0.3);
$yellow: #ffeb1c;
$green: #1cc274;
$dark-blue-1: #39548c;
$dark-blue-2: #446097;
$dark-blue-3: #3a568f;
$blue-2: #6e8ac1;
$blue: #4483f2;
$blue-transparent: rgba(68, 131, 242, 0.4);
$light-blue: #ceecfe;
$light-theme-high-contrast: #324552;
$light-theme-medium-contrast: #566976;
$light-theme-low-contrast: #7d92a1;
$btn-hover:#E0190A;
$pagination-bg:rgba(40, 40, 40, 0.70);

